@(stock: scala.collection.mutable.ListBuffer[stockItem])

@main("Items") {

        @if(stock.isEmpty) {
            <p>Nothing In basket</p>
        } else {
            <div class="container" align="center">
            <div id="products" class="row list-group">
                @for(stock <- stock) {
                    <div id="products" class="row list-group">
                        <div class="item  col-xs-8 col-lg-8">
                            <div class="thumbnail">
                                <a href=@{s"/itemDetails/${stock.id}"}>
                                    <img class="group list-group-image"
                                        src=@routes.Assets.at(s"images/${stock.image}")
                                        alt=@{stock.name}
                                        style=" width: 100px; height: 100px"/>
                                </a>
                                <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                        @stock.name</h4>
                                        <p class="group inner list-group-item-text">

                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                             <p class="lead">
                                            £@stock.price</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-danger" href=@{s"/remove/${stock.id}"}
                                     style="c">Removge</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        }

}