@main("Welcome to Play") {

    <div class="row">
        <div class="col-sm-6">
            <h1> This is going to be where information on the company will be found</h1>
        </div>
        <div class="col-sm-6">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
            <div class="form-group">
                <label for="eml">Email:</label>
                <input type="text" class="form-control" id="eml">
            </div>


        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
            <button  type="button" class="btn btn-warning">Sumbit</button>
        </div>
    </div>

}