@(stock: List[stockItem], tag:String)

@main("Items") {

    <div class="container" align="center">
        <div id="products" class="row list-group">
            @for(stock <- stock) {
                @if(tag == "All" || stock.tags.contains(tag)){
                    <div class="item  col-xs-4 col-lg-4">
                         <div class="thumbnail">
                            <a href=@{s"/itemDetails/${stock.id}"}>
                            <img class="group list-group-image" src=@routes.Assets.at(s"images/${stock.image}") alt=@{stock.name} style="width: 100px; height: 100px" />
                            </a>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                @stock.name</h4>
                                <p class="group inner list-group-item-text">

                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                        @{f"£${stock.price}%3.2f"}
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-warning" href=@{
                                            s"/basket/${stock.id}"
                                        } style="c">Add to cart</a>
                                    </div>
                         </div>
                    </div>
                </div>
    </div>
                }
            }

}